// Set the font-family with "Action" font
// =============================================================================
//
u-font-heading()
  font-family: 'action', Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans-serif

