// style the scrollbar in kaboo blue
// -----------------------------------------------------------------------------

u-scrollbar()
  &:hover::-webkit-scrollbar
    width: 7px

  &:hover::-webkit-scrollbar-track
    background: $grey

  &:hover::-webkit-scrollbar-thumb
    background: $primary
    border-radius: 4px