// Regular proxima
@font-face
  font-family: "proxima-nova"
  src: url("https://cdn.kaboo.com/fonts/proximanova-regular-webfont.woff2") format('woff2'),
       url("https://cdn.kaboo.com/fonts/proximanova-regular-webfont.woff") format('woff'),
       url("https://cdn.kaboo.com/fonts/proximanova-regular-webfont.ttf") format('truetype')
  font-style: normal
  font-weight: normal
  font-display: swap

// Bold version
@font-face
  font-family: "proxima-nova"
  src: url("https://cdn.kaboo.com/fonts/pn-700.woff2") format('woff2'),
       url("https://cdn.kaboo.com/fonts/pn-700.woff") format('woff'),
       url("https://cdn.kaboo.com/fonts/pn-700.ttf") format('truetype')
  font-style: normal
  font-weight: bold
  font-display: swap

// only with disc character
@font-face
  font-family: "disc"
  src: url("https://cdn.kaboo.com/fonts/text-security-disc-webfont.woff2") format('woff2'),
       url("https://cdn.kaboo.com/fonts/text-security-disc-webfont.woff") format('woff')

// Big headline font
@font-face
  font-family: "action"
  src: url("https://cdn.kaboo.com/fonts/action-v3.woff2") format('woff2'),
       url("https://cdn.kaboo.com/fonts/action-v3.woff") format('woff'),
       url("https://cdn.kaboo.com/fonts/action-v3.ttf") format('truetype')
  font-style: normal
  font-weight: normal
  font-display: swap
