$breakpoints = {
  '_large-phone': 375px, // display link label 730
  'smalltablet': 501px
  '_game-browser_2': 630px,
  '_mission': 667px, //- iPhone 6 landscape
  'footer': 705px,
  '_navigation-1': 767px, // display link label 730
  'tablet': 769px,
  '_registration': 820px, // begins to display right illustration
  '_custom_1': 890px,
  '_custom-mission': 945px, // use in the mission grid
  '_navigation': 1005px,
  'desktop': 1025px,
  '_navigation-login': 1245px, // display the login from
  '_custom_2': 1315px,
  'large': 1401px,
  '_x-large': 1620px
}
