// Colors
// =============================================================================
$dark = #000
$light = #fff

// text for inactive button, selected line in leaderboard, border of inverted input
$grey-light = #9b9b9b 

// used for block border, like 'box' one
$grey = #303030

// used in payment, bg of back to game, live help & lang dropdown 
$grey-dark = #262626

// used for mobile left nav, top nav hover/selected item, tabs, cookie banner
$grey-blue = #18202f 

// used in mobile sidebar, for live help and language selector and separator lines
$grey-blue-light = #282e3c 

// error, succes, pending colors
$red = #fc0d1b // used for errors in form or rejected document in KYC
$orange = #FF851B // used for pending document in KYC
$green = #00a81c // used in succes session log

$primary = #3FD1ED
$primary--light = rgba($primary, .40) // used in game list
$loader-triangle--1 = #A028FF // used in the loader

// the calendar color can change with each new calendar
// this color is used in the navigation, as the background of the icon
// and sometimes in the calendar page
$calendar = #ff00d3
