// promotion area in the lobby
// same height than OMS
$m-promo__height--m = _rem(270px)
$m-promo__height--st = _rem(380px)
$m-promo__height = _rem(360px)

// but UK need some free space under
// to display the legal text
$m-promo__height--mUK = _rem(326px)
$m-promo__height--stUK = _rem(428px)

// OMS
$m-oms-height--m = _rem(288px) // 270px + space
$m-oms-height--st = _rem(399px) // $m-promo__height--st + $space
$m-oms-height = _rem(378px) // $m-promo__height + $space

// swedish panic bar
$panic-bar--m = _rem(32px)

// top header, with navigation
$header-height--m = _rem(48px)
$header-height--t = _rem(60px)

// padding-top of main
// height of the top header + space
$main-padding-top--m = _rem(8px)
$main-padding-top--t = _rem(16px)

// Sidebar in gameplay
$sidebar-width = _rem(128px)

//- left sidebar in mobile, smalltablet
$navigation-mobile-width = _rem(240px)

//- forms used in registration
$form-width = _rem(272px) // 8*34
$form--large-width = _rem(560px) // (272px * 2) + 16px (middle padding)

// forms used in settings page (kyc, close account, responsible gaming, consents)
$form-setting-width = _rem(280px)

$plasma-width = _rem(696px) // 8 * 87
$box-setting-width = _rem(800px)

// height of detail box
$detail-height = _rem(208px)
$detail-height--d = _rem(254px)
