// Typographic parameters used to create vertical rhythm
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
$pt = 8 // 8-point grid system
$base-font-size = _rem(15px)
$base-line-multi = 3
$base-line-height = _rem( ($base-line-multi * $pt) * 1px )

// Fonts
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// $base-font-family = "proxima-nova", Helvetica, Arial, sans-serif;
$base-font-family = 'Avenir', Helvetica, Arial, sans-serif

// Body Colors variables
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
$body-text-color = $light
$body-bg-color = $dark
